.stroke--text{
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    font-weight: 900;
    font-size: 180px;
    color: #282828;
    position: relative;
    -webkit-text-stroke: 6px #6d655f;
    line-height: 86%;
    &::after {
        content: attr(data-text);
        position: absolute;
        left: 0;
        text-align: center;
        width: 100%;
        -webkit-text-stroke: 0;
        pointer-events: none;
    }
    &.fz-bigger{
        font-size: 209.5px;
    }
    &.behind__img{
        margin-bottom: -3.5%;
    }
}

@media (max-width: 1600px) {
    .stroke--text{
        font-size: 9.55vw;
        &.fz-bigger{
            font-size: 10.9vw;
        }
    }
}

@media (max-width: 767px) {
    
    .stroke--text{
        -webkit-text-stroke: 2px #6d655f;
        font-size: 12.5vw;
        &.fz-bigger {
            font-size: 14.1vw;
        }
        &.behind__img + .img__sticked-bottom{
            bottom: -8%;
        }
    }
}

.gears--icons{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 30px;
    padding-bottom: 30px;
    img{
        max-width: 112px;
        margin: 0 5px;
        -webkit-animation: rotating 20s linear infinite;
        &:nth-child(1),
        &:nth-child(3){
            margin-top: 34px;
            max-width: 90px;
            animation-direction: reverse;
        }
    }
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@media (max-width: 767px) {
    .gears--icons{
        img{
            margin: 0 4px;
            max-width: 92px;
            &:nth-child(1),
            &:nth-child(3){
                max-width: 74px;
            }
        }
    }
   
}


.primary--btn{
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    border: none;
    outline: none;
    box-shadow: none;
    color: #000000;
    background: #6F746E;
    border-radius: 5px;
    padding: 13px 26px;
    text-decoration: none;
    transition: 0.2s;
    margin-top: 20px;
    &:hover{
        background: #D6C9AE;
        color: #000000;
    }
}
